<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="{{ url_for('static', path='css/feedback.css') }}" rel="stylesheet"> -->
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <div class="footer">
        <div class="about_company">©️ 2026 Discourse Inc: все права защищены</div>
        <div class="links_site">
            <p>Ссылки:</p>
            <a href="/">Главная страница</a>
            <br>
            <a href="game">Игра про змею</a>
            <br>
            <a href="list_type_snakes">Виды змей</a>
            <br>
            <a href="feedback">Обратная связь</a>
        </div>
        <div class="contacts">
            <p>Контакты:</p>
            <a href="tel:+79290431468">+7 929 043 14 68</a>
            <br>
            <a href="mailto:shashaevkirill@gmai&body=привет?subject=вопрос">Напишите нам</a>
        </div>
    </div>
    {% block js %}{% endblock %}
</body>
</html>