{% extends "base.html" %}
{% block title %}Игра{% endblock %}

{% block styles %}
<link href="{{ url_for('static', path='css/game.css') }}" rel="stylesheet">
<link href="{{ url_for('static', path='css/project2.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="content">
    <div class="main_info">
        <div class="text_info">
            <h1>
                Самая популярная игра про змей!</h1>
            <p>
                Игра представляет собой простой способ убить 
                время и решить сложные задачи позиционирования с элементами решения лабиринтов
            </p>
            <a class="button_add" href="list_type.snakes.html">Больше!</a>
        </div>
        <div class="block_game">
            <div class="game_background">
                <div class="game"></div>
            </div>
        </div>
    </div>
    <div class="attention_block">
        <img src="{{ url_for('static', path='/image/70per.png') }}" alt="70%">
        <div class="info_attention_block">
            <h2>
                Далеко не все осилят это
            </h2>
            <p>Только 70% добираются до конца.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', path='js/project2.js') }}"></script>
{% endblock %}