
@font-face {
    font-family: 'MyFont';
    src: 
        url('/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf') format('ttf'),
        url('/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

html {
  scrollbar-width: none;
}

a[href^="tel:"] {
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    color: #000000;
  }

a[href^="tel:"]:before {
    content: "\260e";
    margin-right: 0.5em;
}

body {
  margin: 0px;
  padding: 0px;
}

.content {
  width: 100vw;
  background-color: #4D5A75;
  color: aliceblue;
}

img {
  width: 25vw;
}

.main_block {
  width: 100%;
  height: 100vh;
  background-image: url('../image/Фон 2 для заголовка.jpg');
  background-size: cover;
  margin-bottom: 100px;
}

.main_block > h1 {
  margin-top: 0px;
  padding-top: 100px;
  text-align: center;
  font-size: 100px;
}

.info1 {
  width: 70%;
  display: flex;
  margin-bottom: 200px;
  margin-left: 8vw;
  align-items: center;
  justify-content: space-between
}

.info2 {
  width: 60%;
  display: flex;
  margin-bottom: 200px;
  margin-left: 8vw;
  align-items: center;
  justify-content: space-between
}

.info3 {
  width: 70%;
  display: flex;
  margin-bottom: 200px;
  margin-left: 8vw;
  align-items: center;
  justify-content: space-between
}

.text_info {
  width: 30vw;
}

.text_info > h2 {
  font-size: 54px;
}

.text_info > h3 {
  color: #FBD784;
}

.back_nums {
  margin: 0px;
  font-size: 120px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
  z-index: 0;
  line-height: 1;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a[href^="tel:"] {
  color: white !important;
}

p {
  font-size: 18px;
}

.city {
  background-image: url("../image/облако1.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  color: #48555B;
  text-align: center;
  align-items: center;
  font-size: 30px;
}

.city > h3 {
  padding-top: 100px;
}

.city > a {
  color: #48555B;
  width: 50px;
  background-color: #4D5A75;
}

.footer {
  padding-top: 50px;
  padding-left: 50px;
  background-color: #141A20;
  font-size: 16px;
  display: flex;
  height: 200px;
  color: aliceblue;
  justify-content: space-around;
}
